.footer{
    background:#EAF2FD;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 20rem 5rem 20rem;

}
.footer__logo-enlaces{
    display: none;
}
.footer__logo{
    flex: 1;
}
.footer__enlaces{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 1.6rem;
    justify-content: space-around;
}
.footer__enlaces a{
    text-decoration: none;
    color: #000000;
}
.footer__form{
    display: flex;
    flex-direction: column;
}

.footer__contacto{
    flex: 2;
}

.footer__contacto span{
    font-size: 1.6rem;
    font-weight: 700;
}


.footer__creditos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 2rem 0;
}
.footer__creditos p{
    font-size: 2rem;
    line-height: 4rem;
}
.redes{
    height: 5rem;
}
.text-error{
    color: #f10000;
    font-size: 1.2rem;
}