
/* tablet */
@media screen and (max-width: 1200px) {


    /* header */
    .header {
        padding: 2rem 2rem 2rem 2rem;
    }

    .input-search {
        width: 20rem;
    }

    .header__icon-search {
        height: 3rem;
    }

    .logo {
        margin: 0 3rem 0 0;
    }

    .logo img {
        height: 3rem;
    }

    /* banner */
    .banner {
        padding-left: 2rem;
        background: url("../assets/images/img-banner2.png") no-repeat;
        background-size: 100% 100%;
    }

    .banner__datos {
        padding-top: 20rem;
        padding-left: 2rem;
    }

    .banner__datos > * {
        margin-bottom: 2rem;
    }

    .btn-banner {

        width: 30%;
    }

    /* productos */
    .productos {
        padding: 0 2rem 0 2rem;
        margin-top: 5rem;
    }


    .productos__card {
        width: 45%;
        margin-bottom: 3rem;
    }

    .productos__card:nth-last-child(-n+2) {
        display: none;
    }



    /* footer */
    .footer {
        padding: 5rem 2rem 5rem 2rem;

    }

    .footer__logo {
        display: none;
    }

    .footer__logo-enlaces {
        display: block;
    }


    /* formulario */
    .formulario__form{
        width: 70%;
    }

    /* detalles producto */
    .detalles-producto{
        padding: 2rem;
    }
    .detalles-producto img{
        width: 50%;
    }
    .descripcion-producto{
        margin: 1rem;
    }
    .detalles-producto h1{
        font-size: 3rem;
    }

    /* error de busqueda */
    .error__busqueda{
        width: 90%;


    }
    .error__img{
        width: 90%;
    }


}
/* movil */
@media screen and (max-width: 500px) {

    /* inputs */

    .input__label-btn {
        width: 50%;
    }

    /* header */
    .header__search {
        display: none;
    }

    .logo img {
        height: 2rem;

    }

    .header_lupa {
        display: block;
        padding-left: 1rem;
        filter: invert(100%);
    }
    .logo{
        margin: 0;
    }

    /* banner */

    .banner{
        background: url("../assets/images/img-banner3.png") no-repeat;
        background-size: 100% 100%;
        padding: 0 1rem 0 1rem

    }
    .banner__datos{
        padding: 5rem 0 0 0;
    }

    .btn-banner {
        padding: 1.2rem 0 1.2rem 0;
    }

    .banner_titulo {
        font-size: 2.6rem;

    }

    .banner__descripcion {
        font-size: 1.6rem;
    }

    .btn-banner {
        font-size: 1.5rem;
        width: 40%;
    }

    .productos__card {
        width: 100%;
        margin: 0 0 3rem 0 ;
    }
    .productos__items{

        justify-content: space-around;
    }

    .all {
        flex-direction: column;

        align-items: start;
    }

    .error__busqueda{
        width: 90%;


    }
    .error__img{
        width: 90%;
    }

    /* footer */
    .footer {
        flex-direction: column;
    }

    .footer__enlaces {
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    .footer__enlaces > * {
        margin-bottom: 2rem;
    }

    .btn-formulario-contacto {
        width: 15rem;
    }

    .footer__enlaces {
        font-size: 1.5rem;
    }

    /* formulario */


    .all {
        flex-wrap: wrap;
    }

    .all h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .productos_all {
        padding-top: 1rem;
    }

    /* formulario */
    .formulario__form{
        width: 90%;
    }
    /* detalles producto */
    .detalles-producto{
        flex-direction: column;
    }
    .descripcion-producto{
        margin: 1rem;
    }
    .detalles-producto h1{
        font-size: 3rem;
    }

    .modal{
        padding: 0 1.5rem 0 1.5rem;

    }



}